@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    h1{
        @apply text-4xl;
    }
}
    @layer components{
        .card{
             background-color:aqua;
             width: 100px;
             height: 100px;
        }
}